body {
  background-color: #a8df65;
}

.result {
  text-align: center;
  display: inline-block;
}

#submit {
  margin-top: 3%;
}

#liberal {
  display: none;
}

#moderate {
  display: none;
}

#conservative {
  display: none;
}